.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.login_container >form{
    display: flex;
    flex-direction: column;
}
.show-logIn{
    display: flex;
    margin:10px 
}
.button{
    padding-top: 5px;
    padding-bottom:5px;
    background-color: aquamarine;
}

.role{
    margin: 4px;
    background-color: aquamarine;
}