.admin_page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


.button{
    padding-top: 5px;
    padding-bottom:5px;
    background-color: aquamarine;
}
form > select {

}
.form_container > form{
    display: flex;
    flex-direction: column;
}
.privilege{
    margin: 4px;
    background-color: aquamarine;
}